#include <windows.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION 0,0,0,4
PRODUCTVERSION 0,0,0,4
FILEFLAGSMASK 63
FILEFLAGS 0
FILEOS VOS_UNKNOWN
FILETYPE VFT_DLL
FILESUBTYPE VFT2_UNKNOWN
{
 BLOCK "StringFileInfo"
 {
  BLOCK "000104E4"
  {
   VALUE "FileVersion", "0.0.4\0"
   VALUE "ProductVersion", "0.0.4\0"
  }
 }
}
